# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/leetcode/300_LongestIncreasingSubsequence/build/
/leetcode/300_LongestIncreasingSubsequence/dist/
/leetcode/129_SumRoottoLeafNumbers/build/
/leetcode/129_SumRoottoLeafNumbers/dist/
/leetcode/372_SuperPow/dist/
/leetcode/372_SuperPow/build/
/leetcode/117_PopulatingNextRightPointersinEachNodeII/build/
/leetcode/117_PopulatingNextRightPointersinEachNodeII/dist/
/leetcode/017_LetterCombinationsofaPhoneNumber/build/
/leetcode/017_LetterCombinationsofaPhoneNumber/dist/