# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/leetcode/300_LongestIncreasingSubsequence/build/
/leetcode/300_LongestIncreasingSubsequence/dist/
/leetcode/129_SumRoottoLeafNumbers/build/
/leetcode/129_SumRoottoLeafNumbers/dist/
/leetcode/372_SuperPow/dist/
/leetcode/372_SuperPow/build/
/leetcode/117_PopulatingNextRightPointersinEachNodeII/build/
/leetcode/117_PopulatingNextRightPointersinEachNodeII/dist/
/leetcode/017_LetterCombinationsofaPhoneNumber/build/
/leetcode/017_LetterCombinationsofaPhoneNumber/dist/
/leetcode/388_LongestAbsoluteFilePath/build/
/leetcode/388_LongestAbsoluteFilePath/dist/
/leetcode/450_DeleteNodeinaBST/build/
/leetcode/450_DeleteNodeinaBST/dist/
/leetcode/080_RemoveDuplicatesfromSortedArrayII/build/
/leetcode/080_RemoveDuplicatesfromSortedArrayII/dist/
/leetcode/082_RemoveDuplicatesfromSortedListII/build/
/leetcode/082_RemoveDuplicatesfromSortedListII/dist/
/leetcode/105_ConstructBinaryTreefromPreorderandInorderTraversal/build/
/leetcode/105_ConstructBinaryTreefromPreorderandInorderTraversal/dist/
/leetcode/106_ConstructBinaryTreefromInorderandPostorderTraversal/build/
/leetcode/106_ConstructBinaryTreefromInorderandPostorderTraversal/dist/
/leetcode/086_PartitionList/dist/
/leetcode/086_PartitionList/build/
/leetcode/147_InsertionSortList/build/
/leetcode/147_InsertionSortList/dist/
/leetcode/223_RectangleArea/dist/
/leetcode/223_RectangleArea/build/
/leetcode/002_AddTwoNumbers/dist/
/leetcode/002_AddTwoNumbers/build/
/leetcode/060_PermutationSequence/build/
/leetcode/060_PermutationSequence/dist/
/leetcode/222_CountCompleteTreeNodes/dist/
/leetcode/222_CountCompleteTreeNodes/build/
/leetcode/050_Pow(x, n)/build/
/leetcode/050_Pow(x, n)/dist/
/leetcode/043_MultiplyStrings/build/
/leetcode/043_MultiplyStrings/dist/
/leetcode/306_AdditiveNumber/dist/
/leetcode/306_AdditiveNumber/build/
/leetcode/138_CopyListwithRandomPointer/dist/
/leetcode/138_CopyListwithRandomPointer/build/
/leetcode/018_4Sum/build/
/leetcode/018_4Sum/dist/
/leetcode/014_LongestCommonPrefix/build/
/leetcode/014_LongestCommonPrefix/dist/
/leetcode/063_UniquePathsII/build/
/leetcode/063_UniquePathsII/dist/
/leetcode/062_UniquePaths/build/
/leetcode/062_UniquePaths/dist/
/leetcode/019_RemoveNthNodeFromEndofList/build/
/leetcode/019_RemoveNthNodeFromEndofList/dist/
/leetcode/264_UglyNumberII/build/
/leetcode/264_UglyNumberII/dist/
/leetcode/103_BinaryTreeZigzagLevelOrderTraversal/build/
/leetcode/103_BinaryTreeZigzagLevelOrderTraversal/dist/
/leetcode/089_GrayCode/build/
/leetcode/089_GrayCode/dist/
/leetcode/107_BinaryTreeLevelOrderTraversalII/build/
/leetcode/107_BinaryTreeLevelOrderTraversalII/dist/
/leetcode/191_Numberof1Bits/build/
/leetcode/191_Numberof1Bits/dist/
/leetcode/474_OnesandZeroes/dist/
/leetcode/474_OnesandZeroes/build/
/leetcode/109_ConvertSortedListtoBinarySearchTree/build/
/leetcode/109_ConvertSortedListtoBinarySearchTree/dist/
/leetcode/200_NumberofIslands/build/
/leetcode/200_NumberofIslands/dist/
/leetcode/066_PlusOne/build/
/leetcode/066_PlusOne/dist/
/leetcode/110_BalancedBinaryTree/build/
/leetcode/110_BalancedBinaryTree/dist/
/leetcode/232_ImplementQueueusingStacks/build/
/leetcode/232_ImplementQueueusingStacks/dist/
/leetcode/225_ImplementStackusingQueues/build/
/leetcode/225_ImplementStackusingQueues/dist/
/leetcode/141_LinkedListCycle/build/
/leetcode/141_LinkedListCycle/dist/
/leetcode/547_FriendCircles/build/
/leetcode/547_FriendCircles/dist/
/leetcode/542_01Matrix/build/
/leetcode/542_01Matrix/dist/
/leetcode/047_PermutationsII/build/
/leetcode/047_PermutationsII/dist/
/leetcode/092_ReverseLinkedListII/build/
/leetcode/092_ReverseLinkedListII/dist/
/leetcode/236_LowestCommonAncestorofaBinaryTree/build/
/leetcode/236_LowestCommonAncestorofaBinaryTree/dist/
/leetcode/098_ValidateBinarySearchTree/build/
/leetcode/098_ValidateBinarySearchTree/dist/
/leetcode/131_PalindromePartitioning/build/
/leetcode/131_PalindromePartitioning/dist/